html {
  font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size:1.5rem;
  font-family: 'Open Sans', sans-serif;
  //color:#FFFFFF;
  //rgb(255, 51, 102);
  color:rgb(23, 25, 29);
  height:100vh;
  margin:0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

#root{
  height:100%;
}

a{
  text-decoration: none;
}

.loading{
  position:relative;
  width:15rem;
  height:15rem;
  margin:150px 10px 10px 10px;
  transform:translateX(700px);
}

.loading1{
  position: absolute;
  top:50%;
  left:50%;
  width: 100%;
  height:100%;
  border:solid 4px transparent;
  border-top-color: rgb(255, 51, 102);
  border-left-color:rgb(255, 51, 102);
  border-radius:50%;
  animation: loader 1.2s linear infinite;
}

.loading2{
  position: absolute;
  top:50%;
  left:50%;
  width: 70%;
  height:70%;
  border:solid 4px transparent;
  border-top-color: #000000;
  border-left-color:#000000;
  border-radius:50%;
  animation: loader2 1.2s linear infinite;
}

@keyframes loader{
  0%{
    transform: translate(-50%, -50%)  rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%)  rotate(360deg);
  }
}

@keyframes loader2{
  0%{
    transform: translate(-50%, -50%)  rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%)  rotate(-360deg);
  }
}

@import './app.scss';

//Check Out
@import './checkOut.scss';

//Routes
@import '../style/route/product.scss';
@import '../style/route/cart.scss';
@import '../style/route/signin.scss';
@import '../style/route/products.scss';

