html {
  font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size:1.5rem;
  font-family: 'Open Sans', sans-serif;
  //color:#FFFFFF;
  //rgb(255, 51, 102);
  color:rgb(23, 25, 29);
  height:100vh;
  margin:0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

#root{
  height:100%;
}

a{
  text-decoration: none;
}


@import './app.scss';

//Product
@import '../style/route/products.scss';