.cart{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
  }

  
  .cart-list{
    flex: 3 1 60rem;
  }
  .cart-action{
    flex:1 2 20rem;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
    padding:1rem; 
    border-radius: .5rem;
    margin: 0 5rem 0 5rem;
  }

  .cart-action h3{
      font-weight: bold;
      color:#000000;
      transform: translateX(11rem);
  }
  .cart-list-container {
    padding: 0;
    list-style-type: none;
    padding: 1rem;
  
  }
  .cart-list-container  li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom:.1rem #c0c0c0 solid;
  }
  .cart-list-container  li img{
    max-width: 10rem;
    max-height: 10rem;
  }
  .cart-list-container  li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  }

  .cart-list-container li h3{
      font-size:2.5rem;
      font: bold;
      color: rgb(255, 51, 102);
  }

  .cart-list-container button{
    transform: translateX(.5rem);
    margin:1.5rem 0 .5rem 0 ;
    background-color: #000000;
    color:#FFFFFF;
    height: 25px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    font-size: 16px;
    cursor:pointer;
    transition: all .3s ease;
        &:hover {
            background-color:rgb(255, 51, 102);
        }

        &:active {
            background-color:rgb(255, 51, 102);
        } 
  }
  
  .price{
    font-size:2.5rem;
    font-weight: bold;
    color: rgb(255, 51, 102);
    margin-right: .5rem;
}
  .cart-image{
    flex: 1 1;
  }
  .cart-name{
    flex: 8 1;
  }
  .cart-name .name a{
      font-size: 2rem;
      font-weight: bold;
      color:#000000;
  }
  .cart-name .qty{
    font-size: 2rem;
    font-weight: bold;
    color:rgb(255, 51, 102);
    margin-top: 2rem;
  }
  .qty select{
      font-size:1.7rem;
      margin-left: .5rem;
  }
  
  .cart-price{
    flex: 1 1;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: right;
    color:#000000;
    transform: translateX(-3rem);
  } 

  .full-width{
    margin:1.5rem 0 .5rem 0 ;
    transform: translateX(90px);
    background-color: #000000;
    color:#FFFFFF;
    height: 38px;
    width: 200px;
    border-radius: 20px;
    //border: 1px solid #FFFFFF;
    font-size: 16px;
    cursor:pointer;
    transition: all .3s ease;
        &:hover {
            background-color:rgb(255, 51, 102);
        }

        &:active {
            background-color:rgb(255, 51, 102);
        }   
  }