.back-to-result{
    padding:1rem;

    a{
    font-size:1.5rem;
    color:rgb(23, 25, 29);
    font-weight: bold; 
    transition: all .3s ease;
            &:hover {
                color:rgb(255, 51, 102);
            }
    
            &:active {
                color:rgb(255, 51, 102);
            }   
    }

}

.products__details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:wrap;

    .details-image{
        flex:2 1 60rem;
    }
    .details-image img{
        max-width:60rem;
        max-height:60rem;
        display:block;
        margin:auto;
    }

    .details-info{
        flex:1 1 30rem;
    }

    .details-action{
        flex:1 1 30rem;
        border-radius:3px;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
        padding:1rem; 
        margin-right:5rem;
    }

    .details-action li button{
        transform: translateX(100px);
        background-color: #000000;
        color:#FFFFFF;
        height: 38px;
        width: 200px;
        border-radius: 20px;
        border: 1px solid #E6E6E6;
        font-size: 16px;
        cursor:pointer;
        transition: all .3s ease;
            &:hover {
                background-color:rgb(255, 51, 102);
            }
    
            &:active {
                background-color:rgb(255, 51, 102);
            }   
    
    }

    .details-info ul,
    .details-action ul{
        list-style-type: none;
        padding:0;
    }

    .details-info li,
    .details-action li{
        margin-bottom: 1rem;
    }   
}

